---
// Libs, types
import { getCollection } from "astro:content";
import { dateToYMD, timeAgo } from "@lib/date";
import { sortCollection } from "@lib/sort";

// Find latest item in all collections
const allPosts = await getCollection("posts");
const allNotes = await getCollection("notes");
const latestThing = sortCollection<"notes" | "posts">([
	...allNotes,
	...allPosts,
])[0];
---

<p>
	<time datetime={dateToYMD(latestThing.data.pubDate)}>
		{timeAgo(latestThing.data.pubDate)}
	</time>
	<span>–</span>
	{
		latestThing.collection === "posts" ? (
			<a href={`/blog/${latestThing.slug}/`}>{latestThing.data.title}</a>
		) : (
			<a href={`/notes/`}>{latestThing.data.title}</a>
		)
	}
</p>

<style>
	p {
		margin-block-end: var(--sp-double);
		padding: var(--sp-default);
		background: var(--bg-darken);
		border-radius: var(--br);
	}
	span,
	time {
		font-size: var(--fs-small);
		color: var(--c-black-less-opaque);
	}
</style>
