---
import { type CollectionEntry } from "astro:content";
import { locales, DEFAULT_LOCALE } from "~/lib/date.ts";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import "../global.css";

// CollectionEntry has data (frontmatter) and content types for a collection
type Props = CollectionEntry<"pages">["data"] & {
	slug?: string;
	description?: string;
};

const { slug, lang, title, description } = Astro.props;

export const author = "Anne Fortuin";
export const defaultDescription = {
	[locales.NL]: `De persoonlijke website van ${author}`,
	[locales.EN]: `The personal website of ${author}`,
};
export const siteName = "annefortuin.nl";
const url = new URL(Astro.url, Astro.site);
const metaTitle = `${import.meta.env.DEV ? "DEV・" : ""}${title ? `${title}・` : ""}${siteName}`;
---

<!doctype html>
<html lang={lang || DEFAULT_LOCALE}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{metaTitle}</title>
		<meta property="og:title" content={metaTitle} />
		<meta
			name="description"
			content={description || defaultDescription[lang || DEFAULT_LOCALE]}
		/>
		<meta
			property="og:description"
			content={description || defaultDescription[lang || DEFAULT_LOCALE]}
		/>
		<meta
			property="og:image"
			content={new URL("annefortuin-nl-og-image.png", Astro.site)}
		/>
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta
			property="og:type"
			content={slug === "/" ? "website" : "article"}
		/>
		<meta property="og:site_name" content={siteName} />
		<meta property="og:locale" content={lang || DEFAULT_LOCALE} />
		<meta name="author" content={author} />
		<meta property="og:url" content={url} />
		<link rel="canonical" href={url} />
		<slot name="meta" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title={siteName}
			href={new URL("rss", Astro.site)}
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="icon"
			href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3E🥒%3C/text%3E%3C/svg%3E"
			type="image/svg+xml"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<Header slug={slug} />
		<main id="main-content">
			{title && <h1>{title}</h1>}
			<slot />
		</main>
		<Footer />
	</body>
</html>
