---
// Libs, types
import { type CollectionEntry, getCollection } from "astro:content";
import { formatDate, dateToYMD } from "@lib/date";

// Components, layouts
import Base from "@layouts/Base.astro";
import NextPost from "@components/NextPost.astro";

// CollectionEntry has data (frontmatter) and content types for a collection.
// We add slug as a custom property
type Props = CollectionEntry<"posts">["data"] & {
	slug?: string;
};

const { title, pubDate, slug, lang } = Astro.props;
---

<Base lang={lang} slug={slug}>
	<Fragment slot="meta">
		<meta name="description" content={title} />
	</Fragment>
	<article itemscope itemtype="http://schema.org/BlogPosting">
		<header>
			<h1 itemprop="headline">{title}</h1>
			<div class="byline vcard">
				<address class="visually-hidden author">
					By <a rel="author" class="url fn n" href="/">Anne Fortuin</a
					>
				</address>
				<time itemprop="datePublished" datetime={dateToYMD(pubDate)}>
					{formatDate(pubDate)}
				</time>
			</div>
		</header>
		<slot />
	</article>
	<hr />
	{slug && <NextPost slug={slug} />}
</Base>

<style>
	h1 {
		display: inline;
		font-variation-settings: "wght" 900;
		margin-block-end: var(--sp-tiny);
	}
	.byline {
		font-size: var(--fs-small);
		margin-block-end: var(--sp-tiny);
	}
	article {
		padding-block-start: var(--sp-double);
	}
	header {
		margin-block-end: var(--sp-double);
	}
	hr {
		margin-block: var(--sp-large) var(--sp-default);
	}
</style>
